﻿@model IEnumerable<Support.Models.Department>
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "Company Stats";
}

@section Styles
    {
    <style type="text/css">
        #myChart {
        }
    </style>
}
    <div class="row">
        <div class="card chart-container col-lg-6" style="position: relative; height:auto; width:120vh">
            <canvas id="myMixedBarChart"></canvas>
        </div>
        <div class="card chart-container col-lg-6" style="position: relative; height:auto; width:120vh">
            <canvas id="myBarChart"></canvas>
        </div>

        <div class="card chart-container col-lg-6" style="position: relative; height:auto; width:120vh">
            <canvas id="myLineChart"></canvas>
        </div>

        <div class="card chart-container col-lg-6" style="position: relative; height:auto; width:120vh">
            <canvas id="myPieChart"></canvas>
        </div>

        <div class="card chart-container col-lg-6" style="position: relative; height:auto; width:120vh">
            <canvas id="myMixedLineChart"></canvas>
        </div>
    </div>


@section Scripts {
    <script type="text/javascript" src="~/js/Chart.bundle.min.js"></script>

    <script type="text/javascript">

        @{var myMonthLabels = Support.Utilities.DateUtils.GetMonths(6); myMonthLabels.Reverse();}
        var monthLabels = [];
        @foreach (string monthLabel in myMonthLabels)
        {
            @:monthLabels.push("@monthLabel");
        }

        // Monthly user data
        var monthlyUserData = [];
        @foreach(string label in myMonthLabels)
        {
            <text>monthlyUserCount = 0;</text>
            foreach (Department department in Model)
            {
                <text>monthlyUserCount += @department.Users.Where(x => x.CreatedAt.ToString("MM/yyyy").Equals(label)).Count();</text>
            }
            @:monthlyUserData.push(monthlyUserCount + "");
        }
        // END monthly user data

        var departmentLabels = [];
        var departmentAllTicketData = [];
        var departmentResolvedTicketData = [];
        var departmentInProgTicketData = [];
        var departmentClosedTicketData = [];
        var departmentUserData = [];

        var totalTickets = 0;
        var totalResolvedTickets = 0;
        var totalInProgTickets = 0;
        var totalClosedTickets = 0;

        @foreach (Department department in Model)
        {
            var departmentUsers = 0;
            @foreach (var user in department.Users)
            {
                if(await _userManager.IsInRoleAsync(user, "Customer"))
                {
                    departmentUsers++;
                }
            }
            var departmentTotal = department.Tickets.Count();
            var departmentTotalResolved = department.Tickets.Where(x => x.Status.Equals("RESOLVED")).Count();
            var departmentTotalInProg = department.Tickets.Where(x => x.Status.Equals("INPROG")).Count();
            var departmentTotalClosed = department.Tickets.Where(x => x.Status.Equals("CLOSED")).Count();
            <text>
                departmentLabels.push("@department.Name");
                departmentAllTicketData.push("@departmentTotal");
                departmentResolvedTicketData.push("@departmentTotalResolved");
                departmentInProgTicketData.push("@departmentTotalInProg");
                departmentClosedTicketData.push("@departmentTotalClosed");

                totalTickets += @departmentTotal;
                totalResolvedTickets += @departmentTotalResolved;
                totalInProgTickets += @departmentTotalInProg;
                totalClosedTickets += @departmentTotalClosed;

                departmentUserData.push("@departmentUsers");
            </text>
        }

        // Monthly ticket data
        var monthAllTicketData = []; var monthResolvedTicketData = []; var monthClosedTicketData = []; var monthInProgTicketData = [];
        @foreach (string label in myMonthLabels)
        {
            var totalTicketsForMonth = 0;
            var totalResolvedTicketsForMonth = 0;
            var totalInProgTicketsForMonth = 0;
            var totalClosedTicketsForMonth = 0;
            foreach(Department department in Model)
            {
                totalTicketsForMonth += department.Tickets.Where(t => t.CreatedAt.ToString("MM/yyyy").Equals(label)).Count();
                totalResolvedTicketsForMonth += department.Tickets.Where(t => t.CreatedAt.ToString("MM/yyyy").Equals(label)).Where(t => t.Status.Equals("RESOLVED")).Count();
                totalClosedTicketsForMonth += department.Tickets.Where(t => t.CreatedAt.ToString("MM/yyyy").Equals(label)).Where(t => t.Status.Equals("CLOSED")).Count();
                totalInProgTicketsForMonth += department.Tickets.Where(t => t.CreatedAt.ToString("MM/yyyy").Equals(label)).Where(t => t.Status.Equals("INPROG")).Count();
            }
            <text>
                monthAllTicketData.push("@totalTicketsForMonth");
                monthResolvedTicketData.push("@totalResolvedTicketsForMonth");
                monthClosedTicketData.push("@totalClosedTicketsForMonth");
                monthInProgTicketData.push("@totalInProgTicketsForMonth");
            </text>
        }
        // END Monthly ticket data


        var mbctx = document.getElementById("myMixedBarChart");

        var myMixedBarChart = new Chart(mbctx, {
            type: 'bar',
            data: {
                labels: departmentLabels,
                datasets: [{
                    label: '# of Tickets',
                    data: departmentAllTicketData,
                    backgroundColor: duplicateElements([
                        'rgba(100, 99, 202, 0.4)'
                    ], departmentAllTicketData.length),
                    borderColor: duplicateElements([
                        'rgba(100, 99, 202, 0.4)'
                    ], departmentAllTicketData.length),
                    borderWidth: 1
                }, {
                    label: '# of Waiting Tickets',
                    data: departmentInProgTicketData,
                    backgroundColor: duplicateElements([
                        'rgba(255, 233, 74, 0.4)'
                    ], departmentInProgTicketData.length),
                        borderColor: duplicateElements([
                            'rgba(255, 233, 74, 0.4)'
                        ], departmentInProgTicketData.length),
                    borderWidth: 1
                }, {
                        label: '# of Resolved Tickets',
                        data: departmentResolvedTicketData,
                        backgroundColor: duplicateElements([
                            'rgba(71, 252, 46, 0.4)'
                        ], departmentResolvedTicketData.length),
                        borderColor: duplicateElements([
                            'rgba(71, 252, 46, 0.4)'
                        ], departmentResolvedTicketData.length),
                        borderWidth: 1
                    }, {
                        label: '# of Closed Tickets',
                        data: departmentClosedTicketData,
                        backgroundColor: duplicateElements([
                            'rgba(222, 46, 46, 0.4)'
                        ], departmentClosedTicketData.length),
                        borderColor: duplicateElements([
                            'rgba(222, 46, 46, 0.4)'
                        ], departmentClosedTicketData.length),
                        borderWidth: 1
                    }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });



        var mlctx = document.getElementById("myMixedLineChart");

        var myMixedLineChart = new Chart(mlctx, {
            type: 'line',
            data: {
                labels: monthLabels,
                datasets: [{
                    label: '# of Tickets',
                    data: monthAllTicketData,
                    backgroundColor: [
                        'rgba(100, 99, 202, 0.4)'
                    ],
                    borderColor: [
                        'rgba(100,99,202,1)'
                    ],
                    borderWidth: 1
                }, {
                    label: '# of Waiting Tickets',
                    data: monthInProgTicketData,
                    backgroundColor: [
                        'rgba(255, 233, 74, 0.4)'
                    ],
                    borderColor: [
                        'rgba(255,233,74,1)'
                    ],
                    borderWidth: 1
                }, {
                    label: '# of Resolved Tickets',
                    data: monthResolvedTicketData,
                    backgroundColor: [
                        'rgba(71, 252, 46, 0.4)'
                    ],
                    borderColor: [
                        'rgba(71,252,46,1)'
                    ],
                    borderWidth: 1
                }, {
                    label: '# of Closed Tickets',
                    data: monthClosedTicketData,
                    backgroundColor: [
                        'rgba(222, 46, 46, 0.4)'
                    ],
                    borderColor: [
                        'rgba(222,46,46,1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1
                        }
                    }]
                }
            }
        });

        var pctx = document.getElementById("myPieChart");

        var myPieChart = new Chart(pctx, {
            type: 'pie',
            data: {
                labels: ["INPROG","RESOLVED","CLOSED"],
                datasets: [{
                    label: '# of Tickets',
                    data: [totalInProgTickets, totalResolvedTickets, totalClosedTickets],
                    backgroundColor: [
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(54, 235, 162, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 206, 86, 1)',
                        'rgba(54, 235, 162, 1)',
                        'rgba(255,99,132,1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
            }
        });

        var lctx = document.getElementById("myLineChart");

        var myLineChart = new Chart(lctx, {
            type: 'line',
            data: {
                labels: monthLabels,
                datasets: [{
                    label: '# of Customers Joined',
                    data: monthlyUserData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1
                        }
                    }]
                }
            }
        });

        var bctx = document.getElementById("myBarChart");

        var myBarChart = new Chart(bctx, {
            type: 'bar',
            data: {
                labels: departmentLabels,
                datasets: [{
                    label: '# of Customers',
                    data: departmentUserData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
}
