﻿
@{
    ViewData["Title"] = "Panel";
}

<div class="category-tab shop-details-tab">
    <!--category-tab-->
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="#users" data-toggle="tab">Users</a></li>
            <li class="nav-item"><a class="nav-link" href="#tickets" data-toggle="tab">Tickets</a></li>
            <li class="nav-item"><a class="nav-link" href="#companies" data-toggle="tab">Companies</a></li>
            <li class="nav-item"><a class="nav-link" href="#departments" data-toggle="tab">Departments</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade active in col-cm-8 col-sm-offset-1" id="users">
            <h1><a href="{{route('admin.addProduct')}}"><i class="fa fa-file-text pull-right" aria-hidden="true"> Yeni Ürün</i></a>Ürünler</h1>
            <section id="cart_items">
                <div class="container col-sm-11">
                    <div class="table-responsive cart_info">
                        <table class="table table-condensed">
                            <thead>
                                <tr class="cart_menu">
                                    <td class="image">Ürün Fotoğrafı</td>
                                    <td class="description">Ürün Adı</td>
                                    <td class="price">Ürün Fiyatı</td>
                                    <td class="quantity">Düzenle</td>
                                    <td class="total">Sil</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (string i in new string[1]){
                                <tr>
                                    <td class="cart_product">
                                        <img class="image-responsive" width="50" height="50" src="{{ route('product.image', ['filename' => $product->imageName]) }}" alt="Card image cap">
                                    </td>
                                    <td class="cart_description">
                                        <big><strong>  {{$product->title}} </strong></big>
                                    </td>
                                    <td class="cart_delete">
                                        <p class="cart_total_price">{{ number_format($product['price'], 2, ',', '.') }}<i class="fa fa-try" aria-hidden="true"></i></p>
                                    </td>
                                    <td class="cart_total">
                                        <a href="{{ URL::to('urunduzenle/'.$product->id) }}"><i class="fa fa-pencil-square-o pull-right fa-2x" aria-hidden="true"></i></a>
                                    </td>
                                    <td class="cart_quantity">
                                        <a href="{{ URL::to('urunsil/'.$product->id) }}"><i class="fa fa-trash pull-right fa-2x" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <div class="tab-pane fade" id="tickets">
            <h1><a href="{{route('admin.addBrand')}}"><i class="fa fa-file-text pull-right" aria-hidden="true"> Yeni Marka</i></a>Markalar</h1>
            @foreach (string i in new string[1])
            {
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb">
                        <a href="{{ URL::to('markaduzenle/'.$brand->id) }}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;
                        <a href="{{ URL::to('markasil/'.$brand->id) }}"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;
                        <li class="breadcrumb-item">{{$brand->name}}</li>
                    </ol>
                </nav>
            }
            </div>
        <div class="tab-pane fade" id="companies">
            <h1><a href="{{route('admin.addCat')}}"><i class="fa fa-file-text pull-right" aria-hidden="true"> Yeni Kategori</i></a>Ana Kategoriler</h1>
            @foreach (string i in new string[1]){
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <a href="{{ URL::to('anakategoriduzenle/'.$cat->id) }}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;
                    <a href="{{ URL::to('anakategorisil/'.$cat->id) }}"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;
                    <li class="breadcrumb-item">{{$cat->name}}</li>
                </ol>
            </nav>
            }
        </div>
        <div class="tab-pane fade" id="departments">
            <h1><a href="{{route('admin.addSubCat')}}"><i class="fa fa-file-text pull-right" aria-hidden="true"> Yeni Alt Kategori</i></a>Alt Kategoriler</h1>
            @foreach (string i in new string[1]){
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <a href="{{ URL::to('altkategoriduzenle/'.$subcat->id) }}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;
                    <a href="{{ URL::to('altkategorisil/'.$subcat->id) }}"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;
                    <li class="breadcrumb-item">{{$subcat->cat->name}}</li>
                    <li class="breadcrumb-item">{{$subcat->name}}</li>
                </ol>
            </nav>
            }
        </div>
    </div>
</div><!--/category-tab-->
