﻿@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Support</title>
    <link rel="stylesheet" href="~/css/vendor.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="~/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Custom styles for the template -->
    <link href="~/css/landing-page.css" rel="stylesheet">
    @RenderSection("Styles", required: false)
</head>
<body>
    <div style="height: 100%; min-height: 100%;" class="topwrapper">
        <nav class="navbar navbar-expand-lg navbar-light shadow bg-default topnav">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Support</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @if (User.IsInRole("Admin") && !User.IsInRole("CompanyAdmin"))
                        {
                            <a class="nav-link" asp-controller="Tickets" asp-action="SelectCompany"><i class="far fa-edit"></i> Submit a Ticket</a>
                        }
                        else
                        {
                            <a class="nav-link" asp-controller="Tickets" asp-action="SelectDepartment"><i class="far fa-edit"></i> Submit a Ticket</a>
                        }
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Tickets" asp-action="MyTickets"><i class="far fa-copy"></i> My Tickets</a>
                    </li>
                </ul>
                <div>

                    @if (User.Identity.IsAuthenticated)
                    {

                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-user"> Account</i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-controller="Manage" asp-action="Index">Settings</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:void()" onclick="document.getElementById('logoutForm').submit();" class="dropdown-item">Log out</a>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    }
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login"><i class="fas fa-unlock"></i> Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Register"><i class="fas fa-user-plus"></i> Register</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>

        <div id="sidebarwrapper">
            <div class="wrapper">
                @await Html.PartialAsync("_SidebarPartial")
                <div style="background-color: white;" class="container body-content">
                    <div style="background-color: white; padding-top: 1.5rem; min-height: 40rem;" class="container">
                        @if (ViewData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
                        }
                        else if (TempData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger">@TempData["ErrorMessage"]</div>

                        }
                        @if (ViewData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-success">@ViewData["SuccessMessage"]</div>
                        }
                        else if (TempData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-success">@TempData["SuccessMessage"]</div>

                        }
                        @RenderBody()
                    </div>
                    <hr />
                    @await  Html.PartialAsync("_FooterPartial")
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/vendor.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>
