﻿<nav id="sidebar" class="active">
    <ul class="list-unstyled components">
        @if (User.Identity.IsAuthenticated)
        {
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="Stats"><i class="fas fa-chart-bar"></i> Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Tickets" asp-action="AllTickets"><i class="far fa-copy"></i> Tickets</a>
                </li>
            }
            else if (User.IsInRole("CompanyAdmin"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="CompanyStats"><i class="fas fa-chart-bar"></i> Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Tickets" asp-action="CompanyTickets"><i class="far fa-copy"></i> Tickets</a>
                </li>
            }
            else if (User.IsInRole("Personnel"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Tickets" asp-action="DepartmentTickets"><i class="far fa-copy"></i> Tickets</a>
                </li>
            }
        }
        <li>
            @if (User.IsInRole("Admin") || User.IsInRole("CompanyAdmin") || User.IsInRole("Personnel"))
            {
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-briefcase"></i>
                    Manage
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-controller="Admin" asp-action="Users">Users</a>
                        </li>
                        <li>
                            <a asp-controller="TicketTypes" asp-action="Index">TTypes</a>
                        </li>
                        <li>
                            <a asp-controller="Companies" asp-action="Index">Companies</a>
                        </li>
                    }
                    @if (User.IsInRole("CompanyAdmin") || User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-controller="Departments" asp-action="Index">Departments</a>
                        </li>
                    }
                    <li>
                        <a asp-controller="Questions" asp-action="Index">Questions</a>
                    </li>
                    <li>
                        <a asp-controller="QuestionOptions" asp-action="Index">Options</a>
                    </li>
                </ul>
            }
        </li>
        <li>
            <a asp-controller="Home" asp-action="faq">
                <i class="fas fa-question"></i>
                FAQ
            </a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="About">
                <i class="fas fa-briefcase"></i>
                About
            </a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Contact">
                <i class="fas fa-paper-plane"></i>
                Contact
            </a>
        </li>
    </ul>
    <ul class="list-unstyled components">
        <li>
            <a id="sidebarCollapse" class="btn">
                <i class="fas fa-align-left"></i>
                <span>Toggle</span>
            </a>
        </li>
    </ul>
</nav>
