﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="loginregister row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="">Company</label>
                <select class="form-control" name="companyId" id="comps">
                    <option value="0" disable="true" selected>=== Select a company ===</option>
                    @foreach (Company comp in ViewBag.companies)
                    {
                        <option value="@comp.Id">@comp.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="">Department</label>
                <select class="form-control" name="departmentId" id="deps">
                    <option value="0" disable="true" selected>=== I'm a customer ===</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">
        $("#comps").on("change", function (e) {
            var companyId = e.target.value;
            $.get('/departments/CDepartment?companyId=' + companyId, function (data) {
                $('#deps').empty();
                $('#deps').append('<option value="0" disable="true" selected>=== I\'m a customer ===</option>');
                $.each(data, function (index, depsObj) {
                    $('#deps').append('<option value="' + depsObj.id + '">' + depsObj.name + '</option>');
                })
            });
        });
    </script>
}

