﻿@model Support.Utilities.PaginatedList<Support.Models.Ticket>

@{
    ViewData["Title"] = "All Tickets";
}

<h3>All Tickets</h3>

<form asp-action="AllTickets" method="get">
    <div class="form-actions no-color">
        <p>
            Find by subject: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-action="AllTickets">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-controller="Tickets" asp-action="AllTickets" asp-route-sortOrder="@ViewData["NameSortParam"]" asp-route-currentFilter="@ViewData["QurrentFilter"]">Subject</a>
            </th>
            <th>
                <a asp-controller="Tickets" asp-action="AllTickets" asp-route-sortOrder="@ViewData["TypeSortParam"]" asp-route-currentFilter="@ViewData["QurrentFilter"]">Type</a>
            </th>
            <th>
                <a asp-controller="Tickets" asp-action="AllTickets" asp-route-sortOrder="@ViewData["PrioritySortParam"]" asp-route-currentFilter="@ViewData["QurrentFilter"]">Priority</a>
            </th>
            <th>
                <a asp-controller="Tickets" asp-action="AllTickets" asp-route-sortOrder="@ViewData["StatusSortParam"]" asp-route-currentFilter="@ViewData["QurrentFilter"]">Status</a>
            </th>
            <th>
                <a asp-controller="Tickets" asp-action="AllTickets" asp-route-sortOrder="@ViewData["DateSortParam"]" asp-route-currentFilter="@ViewData["QurrentFilter"]">Created at</a>
            </th>
            <th>
                <a asp-controller="Tickets" asp-action="AllTickets" asp-route-sortOrder="@ViewData["DeletedSortParam"]" asp-route-currentFilter="@ViewData["QurrentFilter"]">Is Deleted</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Details"><i class="fas fa-info"></i></a>
            </td>
            <td>
                <a class="btn btn-danger" asp-action="DeleteTicket" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>

@if (Model.TotalPages > 1)
{
    @if (Model.HasPreviousPage)
    {
        @if (Model.PageIndex - 1 != 1)
        {
            <a asp-controller="Tickets" asp-action="AllTickets" asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="1" asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-primary">
                <i class="fas fa-angle-double-left"></i>
            </a>
        }
        <a asp-controller="Tickets" asp-action="AllTickets" asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-primary">
            <i class="fas fa-angle-left"></i>
        </a>
    }
    @if (!Model.HasPreviousPage)
    {
        <a class="btn disabled"></a>
    }
    <a style="color:white;" class="btn btn-primary disabled">@Model.PageIndex</a>
    @if (Model.HasNextPage)
    {
        <a asp-action="AllTickets"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-primary">
            <i class="fas fa-angle-right"></i>
        </a>
        @if (Model.PageIndex + 1 != Model.TotalPages)
        {
            <a asp-action="AllTickets"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.TotalPages)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-primary">
                <i class="fas fa-angle-double-right"></i>
            </a>
        }
    }
}

