﻿@model Support.Models.Ticket

@{
    ViewData["Title"] = "Delete";
}

<h3>Delete</h3>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department.Company.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.Company.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt>
            Owner
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>

    <form asp-action="DeleteTicket">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @if (User.IsInRole("Admin"))
        {
            <a asp-controller="Tickets" asp-action="AllTickets">Back to List</a>
        }
        else
        {
            <a asp-controller="Tickets" asp-action="CompanyTickets">Back to List</a>
        }
    </form>
</div>
