﻿@model Support.Models.Ticket
@inject UserManager<ApplicationUser> _userManager

@{
    ViewData["Title"] = "Details";
}

<div class="card ticket-details">
    <div class="card-body">
        <h2>@Model.Subject: <a asp-action="Details" asp-route-id="@Model.Id">#@Model.Id</a></h2>
        <hr />
        <p>Created at: @Model.CreatedAt  Updated at: @Model.UpdatedAt</p>
        <hr />
        <div class="alert alert-success row row-centered text-center">
            <div class="col-lg-2 col-center">
                <span>Department </span><br />
                <span style="color: black;">@Model.Department.Name</span>
            </div>
            <div class="col-lg-2 col-center">
                <span>Owner </span><br />
                <span style="color: black;">@Model.User.FirstName</span>
            </div>
            <div class="col-lg-2 col-center">
                <span>Type </span><br />
                <span style="color: black;">@Model.TicketType.Name</span>
            </div>
            <div class="col-lg-2 col-center">
                <span>Status </span><br />
                <span style="color: black;">@Model.Status</span>
            </div>
            <div class="col-lg-2 col-center">
                <span>Priority </span><br />
                <span style="color: black;">@Model.Priority</span>
            </div>
            <div class="col-lg-1 col-center">
                @if (User.IsInRole("Admin") || User.IsInRole("CompanyAdmin") || User.IsInRole("Personnel"))
                {
                    <form id="statusForm" asp-controller="Tickets" asp-action="ChangeStatus" method="post">
                        <input type="hidden" value="@Model.Id" name="id" />
                        <select name="Status">
                            <option value="0">--Status--</option>
                            <option value="INPROG">INPROG</option>
                            <option value="RESOLVED">RESOLVED</option>
                            <option value="CLOSED">CLOSED</option>
                        </select>
                        <a style="min-width: 100%;" class="btn" href="javascript:void()" onclick="document.getElementById('statusForm').submit();" data-toggle="tooltip" data-placement="bottom" title="Submit">Change</a>
                    </form>
                }
            </div>
        </div>
        <hr />
        <div>
            @foreach (Answer answer in Model.Answers)
            {
                @if (answer.Question.QuestionType.Equals("Checkbox"))
                {
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="@answer.Id">@answer.Question.QuestionSentence</label>
                        <input type="checkbox" id="@answer.Id" disabled @(answer.Description == "true" ? "checked" : "") />
                    </div>
                }
                @if (answer.Question.QuestionType.Equals("Text"))
                {
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="@answer.Id">@answer.Question.QuestionSentence</label>
                        <input class="col-sm-4" type="text" value="@answer.Description" id="@answer.Id" readonly />
                    </div>
                }
                @if (answer.Question.QuestionType.Equals("Textarea"))
                {
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="@answer.Id">@answer.Question.QuestionSentence</label>
                        <textarea class="col-sm-4" id="@answer.Id" readonly>@answer.Description</textarea>
                    </div>
                }
                @if (answer.Question.QuestionType.Equals("Number"))
                {
                    <div class="form-group">
                        <label class="control-label col-sm-4">@answer.Question.QuestionSentence</label>
                        <div style="float: right;" class="col-sm-8" id="@answer.Id">@answer.Description</div>
                    </div>
                }
                @if (answer.Question.QuestionType.Equals("Select"))
                {
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="@answer.Id">@answer.Question.QuestionSentence</label>
                        <select class="col-sm-4" id="@answer.Id" disabled>
                            <option>@answer.Description</option>
                        </select>
                    </div>
                }
            }
            <div class="form-group">
                <label class="control-label col-sm-4">Description</label>
                <div style="float: right;" class="col-sm-8">@Model.Description</div>
            </div>
            <div class="clearfix"></div>
            <hr />
            <h5>Attachments</h5>
            <div style="padding-top: 2rem;" class="row">
                @foreach (File file in Model.Files)
                {
                    <div class="col-md-2">
                        <div class="card border-success mb-3 text-center" style="min-width: 8rem; max-width: 8rem;">
                            <div class="card-header">@(file.FileName.Substring(Model.Id.ToString().Length))</div>
                            <div class="card-body text-success">
                                <a href="~/attachments/@file.FileName" target="_blank" download><i class="fas fa-download fa-3x"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<!-- Comments -->
<div style="padding-top: 1rem;" class="comment-wrapper">
    <div class="panel panel-info">
        <div class="panel-body">
            @if ((!Model.Status.Equals("RESOLVED") && !Model.Status.Equals("CLOSED")) || !User.IsInRole("Customer"))
            {
                <form asp-action="PostComment" method="post">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <textarea class="form-control" name="description" placeholder="Write a reply..." rows="3"></textarea>
                    <br>
                    <button type="submit" value="PostComment" class="btn btn-info pull-right">Post</button>
                </form>
            }

            <div class="clearfix"></div>
            <hr>
            <ul class="media-list">
                @foreach (TicketComment reply in Model.TicketComments)
                {
                    <li class="media">
                        <a href="#" class="pull-left">
                            <i style="font-size: 5rem;" class="fas fa-user-tie"></i>
                        </a>
                        <div class="media-body">
                            <span class="text-muted pull-right">
                                <small class="text-muted">@reply.CreatedAt.ToLocalTime()</small>
                            </span>
                            <strong class="text-success">
                                @reply.User.FirstName @reply.User.LastName
                                @if (await _userManager.IsInRoleAsync(reply.User, "Admin"))
                                {
                                    <span class="badge badge-secondary">Admin</span>
                                }
                                @if (await _userManager.IsInRoleAsync(reply.User, "CompanyAdmin"))
                                {
                                    <span class="badge badge-danger">Company Staff</span>
                                }
                                @if (await _userManager.IsInRoleAsync(reply.User, "Personnel"))
                                {
                                    <span class="badge badge-primary">Personnel</span>
                                }
                                @if (await _userManager.IsInRoleAsync(reply.User, "Customer"))
                                {
                                    <span class="badge badge-info">Customer</span>
                                }
                            </strong>
                            <p>
                                @reply.Description
                            </p>
                        </div><hr />
                    </li>
                }
            </ul>
        </div>
    </div>
</div>