﻿@model Support.Utilities.PaginatedList<Support.Models.Ticket>

@{
    ViewData["Title"] = "Search";
}
@section Styles{ 
<style type="text/css">
    .container { margin-top: 20px; }
    .mb20 { margin-bottom: 20px; }

    hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
    hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
    hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

    .search-result .thumbnail { border-radius: 0 !important; }
    .search-result:first-child { margin-top: 0 !important; }
    .search-result { margin-top: 20px; }
    .search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
    .search-result ul { padding-left: 0 !important; list-style: none;  }
    .search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
    .search-result ul li i { padding-right: 5px; }
    .search-result .col-md-7 { position: relative; }
    .search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
    .search-result h3 > a, .search-result i { color: #248dc1 !important; }
    .search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; }
    .search-result span.plus { position: absolute; right: 0; top: 126px; }
    .search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
    .search-result span.plus a:hover { background-color: #414141; }
    .search-result span.plus a i { color: #fff !important; }
    .search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }
</style>
}
<div class="container">
    <hgroup class="mb20">
        @if (Model.Count() == 1)
        {
            <h2 class="lead"><strong class="text-danger">1</strong> result was found for <strong class="text-danger">@ViewData["SearchString"]</strong> | <a asp-controller="Home" asp-action="Index">Return</a></h2>
        }
        else if (Model.Count() == 0)
        {
            <h2 class="lead"><strong class="text-danger">No</strong> results were found for <strong class="text-danger">@ViewData["SearchString"]</strong> | <a asp-controller="Home" asp-action="Index">Return</a></h2>
        }
        else
        {
            <h2 class="lead"><strong class="text-danger">@Model.Count()</strong> results were found for <strong class="text-danger">@ViewData["SearchString"]</strong> | <a asp-controller="Home" asp-action="Index">Return</a></h2>
        }
    </hgroup>
    <hr />
    <section class="col-xs-12 col-sm-6 col-md-12">
        @foreach (Ticket ticket in Model)
        {
            <article class="search-result row">
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="thumbnail">@ticket.Subject</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <ul class="meta-search">
                        <li><i class="far fa-calendar-alt"></i> <span>@ticket.CreatedAt.ToShortDateString()</span></li>
                        <li><i class="far fa-clock"></i> <span>@ticket.CreatedAt.ToShortTimeString()</span></li>
                        <li><i class="fas fa-user-tag"></i> <span>@ticket.User.FirstName @ticket.User.LastName</span></li>
                        @if (ticket.Status.Equals("INPROG"))
                        {
                            <li class="text-warning"><i class="fas fa-signal"></i> <span>@ticket.Status</span></li>
                        }
                        else if (ticket.Status.Equals("RESOLVED"))
                        {
                            <li class="text-success"><i class="fas fa-signal"></i> <span>@ticket.Status</span></li>
                        }

                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                    <h3><a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id">@ticket.Subject</a></h3>
                    <p>@ticket.Description.Substring(0, 300) ...</p>
                    <span class="plus"><a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id"><i class="fas fa-info-circle"></i></a></span>
                </div>
                <span class="clearfix borda"></span>
            </article>
            <hr />
        }
    </section>

    @if (Model.TotalPages > 1)
    {
        @if (Model.HasPreviousPage)
        {
            @if (Model.PageIndex - 1 != 1)
            {
                <a asp-controller="Tickets" asp-action="Search" asp-route-page="1" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-primary">
                    <i class="fas fa-angle-double-left"></i>
                </a>
            }
            <a asp-controller="Tickets" asp-action="Search" asp-route-page="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-primary">
                <i class="fas fa-angle-left"></i>
            </a>
        }
        @if (!Model.HasPreviousPage)
        {
            <a class="btn disabled"></a>
        }
        <a style="color:white;" class="btn btn-primary disabled">@Model.PageIndex</a>
        @if (Model.HasNextPage)
        {
            <a asp-action="Search" asp-route-page="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-primary">
                <i class="fas fa-angle-right"></i>
            </a>
            @if (Model.PageIndex + 1 != Model.TotalPages)
            {
                <a asp-action="Index" asp-route-page="@(Model.TotalPages)" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-primary">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            }
        }
    }

</div>