﻿@model IEnumerable<Support.Models.Department>

@{
    ViewData["Title"] = "Select Department";
}

@if (Model.Count() > 0)
{
    <h3>Please select a department...</h3>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            @if (Model.Count() > 0)
            {
            <form asp-action="Submit" method="get">
                <div class="form-group">
                    @foreach (Department department in Model)
                    {
                    <div class="row">
                        <label for="@("dep" + department.Id)" class="form-control"><input type="radio" id="@("dep" + department.Id)" name="id" value="@department.Id" /> @department.Name</label>
                    </div>
                    }
                </div>
                <button type="submit" class="btn btn-default" value="Submit">Select</button>
            </form>
            }
        </div>
    </div>
}
