﻿@model IEnumerable<Support.Models.Company>

@{
    ViewData["Title"] = "Select a Company";
}

@if (Model.Count() > 0)
{
    <h3>Please select a company...</h3>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            @if (Model.Count() > 0)
            {
                <form asp-action="SelectDepartment" method="get">
                    <div class="form-group">
                        @foreach (Company company in Model)
                        {
                            <label for="@("comp" + company.Id)" class="form-control"><input type="radio" id="@("comp" + company.Id)" name="id" value="@company.Id" /> @company.Name</label>
                        }
                    </div>
                    <button type="submit" class="btn btn-default" value="Submit">Select</button>
                </form>
            }
        </div>
    </div>
}
