﻿@model Support.Models.Ticket

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form asp-action="Submit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="dId" value="@ViewData["departmentId"]" />
            <div class="form-group">
                <label asp-for="TicketType">Ticket Type</label>
                <select asp-for="TicketType" class="form-control">
                    @foreach (var item in (ViewBag.ticketTypes as List<Support.Models.TicketType>))
                    {
                        <option asp-for="TicketType" value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            @foreach (var question in (ViewBag.questions as List<Support.Models.Question>))
            {
                <div class="form-group">
                    <label for="@(question.Id + "option")" class="control-label">@question.QuestionSentence</label>
                    @if (question.QuestionType.Equals("Select"))
                    {
                        <select id="@(question.Id + "option")" name="@(question.Id + "option")" class="form-control">
                            @foreach (var option in question.QuestionOptions)
                            {
                                <option value="@option.Name">@option.Name</option>
                            }
                        </select>
                    }
                    @if (question.QuestionType.Equals("Text"))
                    {
                        <input type="text" id="@(question.Id + "option")" name="@(question.Id + "option")" class="form-control" />
                    }
                    @if (question.QuestionType.Equals("Date"))
                    {
                        <input type="date" id="@(question.Id + "option")" name="@(question.Id + "option")" class="form-control" />
                    }
                    @if (question.QuestionType.Equals("Number"))
                    {
                        <input type="number" id="@(question.Id + "option")" name="@(question.Id + "option")" class="form-control" />
                    }
                    @if (question.QuestionType.Equals("Textarea"))
                    {
                        <textarea id="@(question.Id + "option")" name="@(question.Id + "option")" class="form-control"></textarea>
                    }
                    @if (question.QuestionType.Equals("Checkbox"))
                    {
                        <input type="checkbox" id="@(question.Id + "option")" name="@(question.Id + "option")" class="form-control" value="true" />
                    }
                </div>
            }
            <div class="form-group">
                <label for="">Priority</label>
                <select asp-for="Priority" class="form-control">
                    <option asp-for="Priority" value="Low">Low</option>
                    <option asp-for="Priority" value="Medium">Medium</option>
                    <option asp-for="Priority" value="High">High</option>
                    <option asp-for="Priority" value="Urgent">Urgent</option>
                    <option asp-for="Priority" value="Critical">Critical</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Subject">Subject</label>
                <input type="text" asp-for="Subject" class="form-control"></input>
            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <textarea asp-for="Description" class="form-control aciklama"></textarea>
            </div>
            <div class="form-group">
                <label for="files">Attachments</label>
                <input type="file" name="files" id="files" multiple />
            </div>
            <button type="submit" value="Submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
