﻿body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    background-color: aliceblue;
}

header {
    height: 100px;
    background-color: white;
    margin-top: 0px;
}

.banner {
    height: 40px
}

nav .navbar {
    background-color: white;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.btn-sq-lg {
    width: 150px !important;
    height: 100px !important;
}

.btn-sq {
    width: 150px !important;
    height: 90px !important;
    font-size: 10px;
}

.btn-sq p {
    font-size: 15px;
}

.btn i {
    margin: 0 auto;
}

.btn-sq-sm {
    width: 50px !important;
    height: 35px !important;
    font-size: 10px;
}

.btn-sq-xs {
    width: 25px !important;
    height: 17px !important;
    padding: 2px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
