﻿@{
    ViewData["Title"] = "Home Page";
}

<!-- Masthead -->
<header class="masthead text-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">What can we help you with?</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form asp-controller="Tickets" asp-action="Search" method="get">
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="text" class="form-control form-control-lg" name="s" placeholder="Search...">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">Search!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="btn-row row">
        <div class="col-lg-12">
            @if (!User.Identity.IsAuthenticated)
            {
                <a asp-controller="Account" asp-action="Register" class="btn-ind btn btn-sq">
                    <i class="far fa-id-card fa-5x"></i>
                    <p>Register</p>
                </a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="Index" class="btn-ind btn btn-sq">
                    <i class="fas fa-cog fa-5x"></i>
                    <p>Preferences</p>
                </a>
            }
            @if (User.IsInRole("Admin") && !User.IsInRole("CompanyAdmin"))
            {
                <a asp-controller="Tickets" asp-action="SelectCompany" class="btn-ind btn btn-sq">
                    <i class="far fa-edit fa-5x"></i>
                    <p>Submit a Ticket</p>
                </a>
            }
            else
            {
                <a asp-controller="Tickets" asp-action="SelectDepartment" class="btn-ind btn btn-sq">
                    <i class="far fa-edit fa-5x"></i>
                    <p>Submit a Ticket</p>
                </a>
            }
            <a asp-controller="Tickets" asp-action="MyTickets" class="btn-ind btn btn-sq">
                <i class="far fa-newspaper fa-5x"></i>
                <p>My Tickets</p>
            </a>
        </div>
    </div>
</header>

