﻿@model Support.Utilities.PaginatedList<Support.Models.Company>

@{
    ViewData["Title"] = "Companies";
}

<h3>Companies</h3>

<p>
    <a class="btn btn-default" asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th class="col-sm-2">
                <a asp-controller="Companies" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]" asp-route-currentFilter="@ViewData["QurrentFilter"]">Name</a>
            </th>
            <th class="col-sm-2">
                Address
            </th>
            <th class="col-sm-2">
                <a asp-controller="Companies" asp-action="Index" asp-route-sortOrder="@ViewData["PhoneNumberSortParam"]" asp-route-currentFilter="@ViewData["QurrentFilter"]">Phone Number</a>
            </th>
            <th class="col-sm-2">
                <a asp-controller="Companies" asp-action="Index" asp-route-sortOrder="@ViewData["DeletedSortParam"]" asp-route-currentFilter="@ViewData["QurrentFilter"]">Is Deleted</a>
            </th>
            <th>Add Department</th>
            <th>Edit</th>
            <th>Details</th>
            <th>Delete</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Departments" asp-action="Create" asp-route-id="@item.Id" data-togggle="tooltip" data-placement="bottom" title="Add Department"><i class="fas fa-plus"></i></a>
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="far fa-edit"></i></a>
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Details"><i class="fas fa-info"></i></a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.TotalPages > 1)
{
    @if (Model.HasPreviousPage)
    {
        @if (Model.PageIndex - 1 != 1)
        {
            <a asp-controller="Companies" asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="1" asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-primary">
                <i class="fas fa-angle-double-left"></i>
            </a>
        }
        <a asp-controller="Companies" asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-primary">
            <i class="fas fa-angle-left"></i>
        </a>
    }
    @if (!Model.HasPreviousPage)
    {
        <a class="btn disabled"></a>
    }
    <a style="color:white;" class="btn btn-primary disabled">@Model.PageIndex</a>
    @if (Model.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-primary">
            <i class="fas fa-angle-right"></i>
        </a>
        @if (Model.PageIndex + 1 != Model.TotalPages)
        {
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.TotalPages)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-primary">
                <i class="fas fa-angle-double-right"></i>
            </a>
        }
    }
}
