﻿body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    background-color: white;
}

/* Search Results */
#sidebarwrapper dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}
#sidebarwrapper p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

#sidebarwrapper a,
#sidebarwrapper a:hover,
#sidebarwrapper a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


#sidebarwrapper a:hover,
#sidebarwrapper a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebarwrapper .navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#sidebarwrapper .navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

#sidebarwrapper .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

#sidebarwrapper i,
#sidebarwrapper span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebarwrapper .wrapper {
    display: flex;
    align-items: stretch;
}

#sidebarwrapper #sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebarwrapper #sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#pageSubmenu li {
    text-align: center;
}
#sidebarwrapper #sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebarwrapper #sidebar.active .sidebar-header strong {
    display: block;
}

#sidebarwrapper #sidebar ul li a {
    text-align: left;
}

#sidebarwrapper #sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebarwrapper #sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebarwrapper #sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebarwrapper #sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebarwrapper #sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebarwrapper #sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebarwrapper #sidebar ul.components {
    top: 0;
    bottom: 0;
    border-bottom: 1px solid #47748b;
}

#sidebarwrapper #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebarwrapper #sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebarwrapper #sidebar ul li a i {
    margin-right: 10px;
}

#sidebarwrapper #sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

#sidebarwrapper a[data-toggle="collapse"] {
    position: relative;
}

#sidebarwrapper .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebarwrapper ul ul a {
    font-size: 0.7em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#sidebarwrapper ul.CTAs {
    padding: 20px;
}

#sidebarwrapper ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

#sidebarwrapper a.download {
    background: #fff;
    color: #7386D5;
}

#sidebarwrapper a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#sidebarwrapper #content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebarwrapper #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    #sidebarwrapper .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebarwrapper #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebarwrapper #sidebar .sidebar-header h3,
    #sidebarwrapper #sidebar .CTAs {
        display: none;
    }
    #sidebarwrapper #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebarwrapper #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebarwrapper #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebarwrapper #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebarwrapper #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebarwrapper #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebarwrapper #sidebar {
        margin-left: 0;
    }
    #sidebarwrapper #sidebarCollapse span {
        display: none;
    }
}

/* END Search Results */

/* Comments */
.comment-wrapper .panel-body {
    max-height: 650px;
    overflow: auto;
}

.comment-wrapper .media-list .media img {
    width: 64px;
    height: 64px;
    border: 2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom: 1px dashed #efefef;
    margin-bottom: 25px;
}
/* End Comments */


.topnav {
    min-height: 40px;
    height: 40px;
    background-color: white;
}

.loginregister {
    padding: 3rem;
}

/* from his */
.category-tab ul li a {
    font-size: 12px;
}

.category-tab .nav-tabs li {
    float: none;
}

.category-tab {
    overflow: hidden;
}

.category-tab ul {
    background: white;
    border-bottom: 1px solid #95bbf7;
    list-style: none outside none;
    margin: 0 0 30px;
    padding: 0;
    width: 100%;
}

.category-tab ul li a {
    border: 0 none;
    border-radius: 0;
    color: rgb(40, 50, 55);
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.category-tab ul li a:hover {
    background: #95bbf7;
    color: #FFFFFF;
}
.category-tab ul li a:current {
    background: #95bbf7;
    color: red;
}
.shop-details-tab {
    border: 1px solid #F7F7F0;
    margin-bottom: 75px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 10px;
}
.shop-details-tab .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}
.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #95bbf7;
    border: 0px;
    color: #ececec;
    cursor: default;
    margin-right: 0;
    margin-left: 0;
}

.nav-tabs li a {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right: 0;
}
.tab-pane .col-sm-3, .features_items .col-sm-4 {
    width: 50%;
}


/* END from his */


/* centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
    margin: 0 auto;
}
/* END centered columns styles */

/* Home Page button styles */
.btn-row {
    padding: 1.5rem;
}

.btn-ind {
    padding-right: 1rem;
    padding-left: 1rem;
}

.btn-sq-lg {
    width: 150px !important;
    height: 100px !important;
}

.btn-sq {
    width: 150px !important;
    height: 90px !important;
    font-size: 10px;
    color: rgb(76, 81, 86);
}

.btn-sq:hover {
    color: rgb(40, 50, 55);
}

.btn-sq p {
    font-size: 15px;
}

.btn i {
    margin: 0 auto;
}

.btn-sq-sm {
    width: 50px !important;
    height: 35px !important;
    font-size: 10px;
}

.btn-sq-xs {
    width: 25px !important;
    height: 17px !important;
    padding: 2px;
}

.btn-primary{
    background-color: rgb(29, 161, 243);
}
/* END Home Page button styles */


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
