﻿@model Support.Models.Question

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuestionSentence" class="control-label"></label>
                <input asp-for="QuestionSentence" class="form-control" />
                <span asp-validation-for="QuestionSentence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionType">Question</label>
                <select asp-for="QuestionType" class="form-control">
                    <option asp-for="QuestionType" value="Text">Text</option>
                    <option asp-for="QuestionType" value="Textarea">Textarea</option>
                    <option asp-for="QuestionType" value="Select">Select</option>
                    <option asp-for="QuestionType" value="Date">Date</option>
                    <option asp-for="QuestionType" value="Number">Number</option>
                    <option asp-for="QuestionType" value="Checkbox">Checkbox</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Department">Department</label>
                <select asp-for="Department" class="form-control">
                    @foreach (var item in (ViewBag.departments as List<Support.Models.Department>))
                    {
                        <option asp-for="Department" value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
